#mock-exam {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#question-container {
    margin-bottom: 30px;
}

#question-container button {
    margin: 5px;
}

#result {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

    position: fixed;
    width: 100%;
    bottom: 0;
}
